/* Javadoc style sheet */

/* Define colors, fonts and other style attributes here to override the defaults */

/* Page background color */
body 
{
	background-color: #FFFFFF;
/*
	background-image: url(resources/utilify_watermark.gif);
	background-position: center;
	background-repeat: no-repeat;
*/
	font-family: Verdana, Arial, sans-serif;
	color:#444444;
	font-size:14px;
}

/* Headings */
h1 { font-size: 130% }

th { font-size: 110% }

/* Table colors */
.TableHeadingColor     { background: #CCCCFF } /* Dark mauve */
.TableSubHeadingColor  { background: #EEEEFF } /* Light mauve */
.TableRowColor         { background: #FFFFFF } /* White */

/* Font used in left-hand frame lists */
.FrameTitleFont   { font-size: 100%; font-family: Verdana, Arial, sans-serif }
.FrameHeadingFont { font-size:  90%; font-family: Verdana, Arial, sans-serif }
.FrameItemFont    { font-size:  90%; font-family: Verdana, Arial, sans-serif }

/* Navigation bar fonts and colors */
.NavBarCell1    { background-color:#EEEEFF;} /* Light mauve */
.NavBarCell1Rev { background-color:#00008B;} /* Dark Blue */
.NavBarFont1    { font-size: 80%; font-family: Verdana, Arial, sans-serif; color:#000000;}
.NavBarFont1Rev { font-size: 80%; font-family: Verdana, Arial, sans-serif; color:#FFFFFF;}

.NavBarCell2    { font-size: 80%; font-family: Verdana, Arial, sans-serif; background-color:#FFFFFF;}
.NavBarCell3    { font-size: 80%; font-family: Verdana, Arial, sans-serif; background-color:#FFFFFF;}

